Checks: >-
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  portability-*,
  -cert-err33-c,
  -cert-dcl37-c,
  -cert-dcl51-cpp
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|/)(libraries|services|adapters|tests)/.*\.(c|h)$'
FormatStyle: file
